.igProd a {
    text-decoration: none;
}

.instagramProductos {
    grid-area: instagram;
    font-size: 20px;
    text-align: right;
    padding-right: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: $color2;

}